body {
    margin: 0;
    text-align: center;
    font-family: monospace;
}

.topContainer {
    background-color: #f9f9f9;
    padding-top: 100px;
    position: relative;
}

.middleContainer {
    height: 200px;
    width: 200px;
    background-color: red;
}

.bottomContainer {
    height: 200px;
    width: 200px;
    background-color: green;
}

h1 {
    font-weight: 100;
    width: 10%;
    margin: 0 auto 0 auto;
}

p {
    font-family: inherit;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    margin-left: 50px;
    margin-bottom: 300px;
}
