body {
    margin: 0;
    text-align: center;
    font-family: monospace;
}

.topContainer {
    background-color: #f9f9f9;
    padding-top: 100px;
    position: relative;
}

.middleContainer {
}

.bottomContainer {
}

h1 {
    font-weight: 100;

    margin: 50px auto 0 auto;
    font-size: 5.625rem;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    margin-left: 50px;
    margin-bottom: 300px;
}

.sub-title {
    font-size: 2.5rem;
    margin-top: 20px;
}
